<footer class="footer">
    <a href="index.html">
        <img src="assets/images/logo.png" alt="Cooking Contest Logo" class="header__logo">
    </a>
        <nav class="footer__nav">
        <a href="about.html">Infomación</a>
        <a href="participants.html">Participantes</a>
        <a href="contact.html">Contacto</a>
    </nav>
    <div class="footer__social-media">
        <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
</footer>